.my_bkg_color_freelancer_header-footer2{
    background-color: rgb(48, 61, 78);
}
.my_bkg_color_freelancer_section1{
    background-color: rgb(88, 185, 157);
}
.my_bkg_color_freelancer_footer1{
    background-color: rgb(63, 83, 107);
}
body{
    color:white;
}
.my_txt_color_black{
    color:black;
}
.my_hr_star_white,.my_hr_star_black{
    width: 6rem;
    opacity: 1;
    margin:0;
    line-height: 100%;
    background-color: white;
    display:inline-block;
}
.my_hr_star_black{
    background-color: black;
}
.my_btn{
    background-color: rgb(88, 185, 157);
    border:white solid 1px;
    color:white;
    padding:0.5rem 1rem;
    border-radius: 0.5rem;
}
.my_rounded{
    border-radius:5%;
}
.my_icon_circle{
    border-radius:50%;
    text-align: center;
    padding:0.3rem;
    border:1px white solid;
    width:2.5rem;
    height:2.5rem;
}
.my_input_style{
    border:none;
    resize:none;
}
a{
    color:white;
}
.navbar-toggler-icon .fa-bars{
    color:grey;
}
.navbar-toggler{
    border:1px solid white;
}