.my_bkg_color_freelancer_header-footer2{
    background-color: rgb(48, 61, 78);
}
.my_bkg_color_freelancer_section1{
    background-color: rgb(88, 185, 157);
}
.my_bkg_color_freelancer_footer1{
    background-color: rgb(63, 83, 107);
}
body{
    color:white;
}
.my_txt_color_black{
    color:black;
}